/**
 * CSS styles for CLinkPager.
 *
 * @author Qiang Xue <qiang.xue@gmail.com>
 * @link http://www.yiiframework.com/
 * @copyright Copyright &copy; 2008-2010 Yii Software LLC
 * @license http://www.yiiframework.com/license/
 * @version $Id: pager.css 1678 2010-01-07 21:02:00Z qiang.xue $
 * @since 1.0
 */

.yiiPager{
    display: inline-block;
    padding-left: 0;
    /*margin: 20px 0;*/
    margin: 20px 0 -10px 0;
    border-radius: 4px;
}



ul.yiiPager .selected a {
    color: #fff;
    cursor: default;
    background-color: #0070BB;
    /*font-weight: bold;*/
}

.yiiPager > li > a,
.yiiPager > li > span {
    border-radius: 0;
    position: relative;
    float: left;
    padding: 8px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #515151;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;

}
.yiiPager > li > a:hover, .yiiPager > li > span:hover, .yiiPager > li > a:focus, .yiiPager > li > span:focus {
    color: #fff;
    background-color: #eeeeee;
    border-color: #dddddd;
}
.yiiPager > .disabled > span, .yiiPager > .disabled > span:hover, .yiiPager > .disabled > span:focus, .yiiPager > .disabled > a, .yiiPager > .disabled > a:hover, .yiiPager > .disabled > a:focus {
  color: #979797;
  cursor: not-allowed;
  background-color: #FCFCFC;
  border-color: #D8D8D8;
}
.yiiPager > .active > a, .yiiPager > .active > span, .yiiPager > .active > a:hover, .yiiPager > .active > span:hover, .yiiPager > .active > a:focus, .yiiPager > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #6AA6D6;
  border-color: #6AA6D6;
}



