.grid-view-loading
{
	background:url(loading.gif) no-repeat;
}

.grid-view
{
	padding: 0;
}

.grid-view table.items
{
	  width: 100%;
	  border-collapse: collapse;
	  border-spacing: 0;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
	/*padding: 0.3em;*/
	border: 1px solid #DDDDDD;
}
.grid-view table.items td{
	padding:8px;
	}

.grid-view table.items th
{
	  /*color: #FFFFFF;*/
	  /*font-size: 13px;*/
    /*background: linear-gradient(#2196F3, #1976D2);*/
	  /*padding:7px;*/
    /*border: 1px solid #1565C0;*/
    /*text-shadow: 0 1px 1px #0D47A1;*/
    /*background: linear-gradient(#E0E0E0, #BDBDBD);*/
    background: #FFFFFF;
    color: #212121;
    padding: 8px;
    border: 1px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    /*font-weight: bold;*/
    text-shadow: 0 1px 1px #FFFFFF;
}

.grid-view table.items th a
{
	/*color: #FFFFFF;*/
    color: #212121;
	text-decoration: none;
	/*font-weight:normal;*/
}

.grid-view table.items th a:hover
{
	/*color: #FFF;*/
    color: #212121;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even
{
	/*font-weight: 600;*/
  	color: #515151;
        background: #fff;
}

.grid-view table.items tr.odd
{
	background-color: #f9f9f9;
}

.grid-view table.items tr:hover
{
	  color: #191919;
      background-color: rgba(219, 219, 219, 0.5) !important;
	  transition: all 0.2s;
}

/* line 499, ../scss/default.scss */
table td.highlight {
  color: #515151;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
  background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}
/* line 504, ../scss/default.scss */
table.rows {
  border-bottom: none;
  border-right: 1px solid #797979;
}
.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column
{
	text-align: center;
	width: 120px;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	/*text-align: right;*/
    font-style: italic;
    font-size: 12px;
    /*color: #9E9E9E;*/
}

.grid-view .pager
{
	margin: 0 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}
.grid-view .filters{
   color: #515151;
    /*background: #EEEEEE;*/
}

.grid-view .items .filters > td
{
    border: 1px solid #E0E0E0;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
    padding: 6px 2px;
    border-radius: 4px;
}




.detail-view-loading
{
	background:url(loading.gif) no-repeat;
}

.detail-view
{
	padding: 15px 0;
}

.detail-view
{
	  width: 100%;
	  border-collapse: -moz-initial;
	  border-collapse: initial;
	  border-spacing: 0px;
	  border-bottom: 1px solid #797979;
	  border:1px solid #eee;
}

.detail-view tr th, .detail-view tr td
{
	font-size: 0.9em;
	padding: 0.3em;
	border-right:1px solid #eee;
}
.detail-view td{
	padding:7px 10px;
	}


.detail-view tr.even
{
	
  	color: #ffffff;
        background: #dd4814;
}

.detail-view tr.odd
{
	background-color: #cb842e;
        color: #ffffff;
}

.detail-view table.items tr.selected
{
	  color: #515151;
	  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
	  background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
	  background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
	  background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
	  background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}

.detail-view table.items tr:hover
{
	  color: #515151;
      background-color: rgba(219, 219, 219, 0.3) !important;
	  
}

.detail-view .link-column img
{
	border: 0;
}

.detail-view .button-column
{
	text-align: center;
	width: 60px;
}

.detail-view .button-column img
{
	border: 0;
}

.detail-view .checkbox-column
{
	width: 15px;
}

.detail-view .summary
{
	margin: 0 0 5px 0;
	text-align: right;
}

.detail-view .pager
{
	margin: 0px 0 0 0;
	text-align: right;
}

.detail-view .empty
{
	font-style: italic;
}
.detail-view .filters{
   color: #515151;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffd14d), color-stop(80%, #f6c000)) no-repeat;
    background: -webkit-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
    background: -moz-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
    background: -o-linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
    background: linear-gradient(top, #ffd14d 40%, #f6c000 80%) no-repeat;
}
.detail-view .filters input,
.detail-view .filters select
{
	width: 100%;
	border: 1px solid #ccc;
    padding: 6px 2px;
}

